@media (max-width: 1150px) {
    .direction__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .direction__img {
        width: 100%;
    }
    .about__inner {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }
    .gallery__item-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item-img {
        width: 100%;
    }
}

@media (max-width: 990px) {
    .popular__link {
        min-height: 200px;
    }
    .popular__items {
        grid-gap: 10px;
    }
    .tour__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px;
    }
}

@media (max-width: 800px) {
    .phone__phone span{
        display: none;
    }
    .header__descr {
        color: #fff;
    }
    .travel-info__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    .popular__link:nth-child(3), .popular__link:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
    }
    .popular__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .popular__link {
        min-height: 320px;
    }
    .direction,
    .popular,
    .tour {
        margin: 75px 0;
    }
    .map,
    .about,
    .gallery {
        margin-bottom: 50px;
    }
    .map__iframe {
        height: 400px;
    }
    .about__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .about__popup {
        min-height: 400px;
    }
    .tour__box {
        column-count: 1;
    }
    .tour__title {
        margin-bottom: 40px;
    }

    .tour__info {
        grid-template-columns: repeat(2, 1fr);
    }
    .booking__input {
        width: 100%;
    }
    .booking__label {
        margin-top: -192px;
        margin-left: 50px;
        width: 100%;
    }
    .booking__btn {
        margin: 0 auto;
    }
    .footer {
        padding: 50px 0;
    }
    .logo__img {
        margin-bottom: 40px;
    }
    .footer__box {
        display: block;
        text-align: center;
    }
    .footer__info,
    .footer__address {
        margin: 0 auto 25px;
    }
    .footer__contacts {
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 28px;
        line-height: 130%;
    }
    .phone__phone span{
        display: none;
    }
    .header__title {
        font-size: 50px;
    }
    .menu__btn {
        display: inline-block;
        width: 40px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 107px;
        cursor: pointer;
    }

    .menu__btn::after,
    .menu__btn::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        border-radius: 2px;
    }

    .menu__btn::before {
        top: 0;
    }

    .menu__btn::after {
        bottom: 0;
    }


    .menu__btn span{
        display: block;
        height: 2px;
        background-color: #fff;
    }

    .menu__list {
        transform: translateY(-200%);
        display: block;
        background-color: #886239;
        padding: 10px 0;
        transition: all .5s;
        position: absolute;
        left: 0;
        right: 0;
    }

    .menu__list.menu__list--active {
        transform: translateY(0);
        transition: all .5s;
    }

    
    .menu__link {
        padding: 10px;
        display: block;
        text-align: center;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .header__phone-number {
        margin-left: 0;
    }
    .menu {
        border: none;
    }

    .direction__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .description__text {
        padding: 7px 16px 11px;
    }

    .direction,
    .popular,
    .tour,
    .booking {
        margin: 50px 0;
    }

    .travel-info__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .popular__items,
    .gallery__item-inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__title {
        width: 100%;
        text-align: left;
    }
    .gallery__top {
        flex-wrap: wrap;
    }
}

@media (max-width: 460px) {
    .direction__inner,
    .travel-info__items,
    .tour__info {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 340px) {
    .about__popup {
        min-height: 250px;
    }
}